<% wrap_layout :layout do %>
  <article class="<%= current_page.data.sold ? 'sold' : 'for-sale' %>">
    <h1><%= current_page.data.title %> </h1>
    <span class="price"><%= current_page.data.price %></span>
 
    <%= yield %>

    <ul class="images">
      <% current_page.data.images.each do |img| %>
        <%= partial 'image', :locals => {:image => img} %>
      <% end %>
    </ul>
  </article>
<% end %>
